<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Assignment 1</b></p>
    <p>We looked at various binary conversions, and completed a truth table.</p>
    <p></p>
    <p><b>Assignment 2</b></p>
    <p>Completed our first simulation of gravity.</p>
    <p></p>
    <p><b>Assignment 3</b></p>
    <p>Wrote pseudocode for various time complexity, and solved the vertical percolation problem</p>
    <p></p>
    <p><b>Assignment 4</b></p>
    <p>Created a model classroom, with students, assignments and a teacher. </p>
    <p></p>
    <p><b>Assignment 5</b></p>
    <p>Completed out machine learning libary by created various machine learning models</p>
    <p>Also my favorite assignment this semester, because it combined the various libraries we have been wokring on this semester.</p>
    </body>
</html>


