<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Classes I Took This Fall</b></p>
    <p></p>
    <p></p>
    <p><b>GENERAL CHEMISTRY II</b></p>
    <p><b>PRINCIPLES OF ECONOMICS</b></p>
    <p><b>INTRO TO COMP FOR ENG/APP SCI</b></p>
    <p><b>UNIVERSITY WRITING</b></p>
    <p><b>CALCULUS II</b></p>
    <p><b>INTRO ELEC/MAGNETSM & OPTCS</b></p>
    <p>My favorite class this semester has to be COMP FOR ENG/APP SCI, this class has helped me look at programing concepts in a different light. </p>
    
    </body>
</html>


